workflows/Veremma Vanesa/goszBjGu9JgFddfW.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "getNextDayEventsByNumber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getNextDayEventsByNumber": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Update an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update an event": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-15T16:05:40.032Z",
  "id": "goszBjGu9JgFddfW",
  "isArchived": true,
  "meta": null,
  "name": "confirmar_cita-Veremma-V1",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Numero"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "adfc43aa-990f-403e-a67d-35e875b9479b",
              "leftValue": "={{ $json.id }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "lengthGt",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1104,
        352
      ],
      "id": "695ae075-03d8-4d69-8c36-36d624176097",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "ulises.rosales.ar@gmail.com",
          "mode": "list",
          "cachedResultName": "ulises.rosales.ar@gmail.com"
        },
        "timeMin": "={{ $now  }}",
        "timeMax": "={{ $now.plus({ day: 1.2 }) }}",
        "options": {
          "query": "={{ $json.Numero }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        528,
        352
      ],
      "id": "3efc0d64-9120-4420-9fc5-fd1cfb1b226d",
      "name": "getNextDayEventsByNumber",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "uUlIwgQJ1mHXECLz",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        800,
        352
      ],
      "id": "307fa5cf-205b-4876-ad30-961202dbee66",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "ulises.rosales.ar@gmail.com",
          "mode": "list",
          "cachedResultName": "ulises.rosales.ar@gmail.com"
        },
        "eventId": "={{ $json.id }}",
        "updateFields": {
          "color": "2"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1488,
        224
      ],
      "id": "38fb21e5-a093-4894-a899-09e9af853dcb",
      "name": "Update an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "uUlIwgQJ1mHXECLz",
          "name": "Google Calendar account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "id",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1280,
        224
      ],
      "id": "9e4bbb94-605c-45e6-9aa5-1f3b2f95bc48",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df38c5b1-ace6-405f-b9fe-f9acc501f9ca",
              "name": "Respuesta",
              "value": "=La {{ $json.summary }} a sido confirmada.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1744,
        208
      ],
      "id": "dd0e454d-d3e6-4f23-8891-c87f8f47c552",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dfd0a01a-6d40-4fc6-bbca-d853f492a14c",
              "name": "Respuesta",
              "value": "No hay citas para confirmar, las citas se pueden confirmar luego del mensaje de recordatorio, si es que el usuario tiene cita.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1312,
        448
      ],
      "id": "5f6d150a-f146-4c94-8c95-efc95df552c9",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-15T16:05:40.034Z",
      "createdAt": "2026-03-15T16:05:40.034Z",
      "role": "workflow:owner",
      "workflowId": "goszBjGu9JgFddfW",
      "projectId": "f3W32VX4HOke6C3N"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-03-15T16:07:50.175Z",
      "createdAt": "2026-03-15T16:07:50.175Z",
      "id": "tfFKp0SW2OnDy7Ub",
      "name": "Veremma Vanesa"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-24T21:04:42.000Z",
  "versionId": "2e2c5d87-acbe-4f4b-9809-562cbaa503ea"
}