workflows/Veremma Vanesa/IWClJKBMJH6msfGl.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "obtener_informacion": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-15T16:05:39.821Z",
  "id": "IWClJKBMJH6msfGl",
  "isArchived": false,
  "meta": null,
  "name": "Info-General-Veremma-V1",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "consulta"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Consulta: {{ $json.consulta }}",
        "options": {
          "systemMessage": "Eres un asistente de información de un negocio.\nUsa SOLO las herramientas disponibles.\nNo inventes ni uses conocimiento externo.\n\nAnaliza el campo \"consulta\" y detecta el tipo.\nLlama únicamente a obtener_informacion.\n\nUsa EXACTAMENTE este filtro:\n(tipo,eq,__TIPO__)~and(activo,eq,true)\n\nReemplaza __TIPO__ por el tipo detectado.\nNo modifiques la fórmula.\n\nTipos válidos:\nhorarios | ubicacion | pagos | promocion | politica\n\nResponde solo con la salida de la herramienta.\n\nSi no hay datos, responde exactamente:\nEsa información no se encuentra disponible actualmente.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        480,
        352
      ],
      "id": "ce95c677-ea7c-4aca-9070-5e63a1e3723b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        480,
        544
      ],
      "id": "0bb6a7f1-a242-4261-8e66-b3760e673eaf",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "uuO2PZ99GN4s46rW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pvalhsum160gh07",
        "table": "mquqqjjvsekrhib",
        "options": {
          "where": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Filter_By_Formula', `Usa esta fórmula:\n(tipo,eq,__TIPO__)~and(activo,eq,true)\nNo la modifiques.\nDonde __TIPO__ es el valor exacto del tipo detectado.`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.nocoDbTool",
      "typeVersion": 3,
      "position": [
        624,
        576
      ],
      "id": "8e75b639-c336-4d8e-8002-da426960dfe5",
      "name": "obtener_informacion",
      "credentials": {
        "nocoDbApiToken": {
          "id": "NJEMSwQ8VfnQXOIP",
          "name": "NocoDB Token account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-15T16:05:39.824Z",
      "createdAt": "2026-03-15T16:05:39.824Z",
      "role": "workflow:owner",
      "workflowId": "IWClJKBMJH6msfGl",
      "projectId": "f3W32VX4HOke6C3N"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-03-15T16:07:50.175Z",
      "createdAt": "2026-03-15T16:07:50.175Z",
      "id": "tfFKp0SW2OnDy7Ub",
      "name": "Veremma Vanesa"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-15T16:08:35.504Z",
  "versionId": "b2008f83-e464-4c92-88d6-2981eb415139"
}