workflows/Veremma Vanesa/sYJMnPUFrbfDI415.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener_citas_cliente": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Turnos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sin turnos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Obtener_citas_cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-15T16:05:39.206Z",
  "id": "sYJMnPUFrbfDI415",
  "isArchived": true,
  "meta": null,
  "name": "consultar_citas-Veremma-V1",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Numero celular"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        160,
        352
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "ulises.rosales.ar@gmail.com",
          "mode": "list",
          "cachedResultName": "ulises.rosales.ar@gmail.com"
        },
        "timeMax": "={{ $now.plus({ week: 4 }) }}",
        "options": {
          "query": "={{ $json['Numero celular'] }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        656,
        352
      ],
      "id": "1b414c2f-5c43-42c7-b79c-e7177737edb3",
      "name": "Obtener_citas_cliente",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "uUlIwgQJ1mHXECLz",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7aa8f4f1-7b92-4a1e-b880-7789763b3546",
              "leftValue": "={{ $json.summary }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        848,
        352
      ],
      "id": "7dc20df8-98b5-4a85-ad8a-5e6ed4e43d3c",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "88443e78-9f08-43ec-a0f0-15ab3647e914",
              "name": "Mensaje",
              "value": "No hay ningún turno agendado con este numero.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1056,
        448
      ],
      "id": "f47ac7d4-106a-4de2-9676-8b82497a2125",
      "name": "Sin turnos"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5eeee0a3-4605-4034-aff4-644725025744",
              "name": "Resumen",
              "value": "={{ $json.summary }}",
              "type": "string"
            },
            {
              "id": "94b284c5-bab2-4056-8c34-661c4002cc76",
              "name": "Inicio-Turno",
              "value": "={{ $json.start.dateTime }}",
              "type": "string"
            },
            {
              "id": "480a343f-06fb-4334-8591-bff634991069",
              "name": "Fin-Turno",
              "value": "={{ $json.end.dateTime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        240
      ],
      "id": "a100664a-5148-49a6-9ef2-9cb8c64d4d71",
      "name": "Turnos"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        400,
        352
      ],
      "id": "2bd28c14-a72c-4c14-86ac-800e0a480670",
      "name": "Wait",
      "webhookId": "cb2d91e3-db26-4724-8be1-87af9dc0327c"
    }
  ],
  "pinData": {},
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-15T16:05:39.207Z",
      "createdAt": "2026-03-15T16:05:39.207Z",
      "role": "workflow:owner",
      "workflowId": "sYJMnPUFrbfDI415",
      "projectId": "f3W32VX4HOke6C3N"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-03-15T16:07:50.175Z",
      "createdAt": "2026-03-15T16:07:50.175Z",
      "id": "tfFKp0SW2OnDy7Ub",
      "name": "Veremma Vanesa"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-24T21:04:42.000Z",
  "versionId": "8f664a3c-5b42-4cc9-838c-5d6096af765a"
}