workflows/Prototipo/O9bcuLPicAr3_kWcEmdRY.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Run an Actor and get dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor and get dataset": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-13T16:26:18.592Z",
  "id": "O9bcuLPicAr3_kWcEmdRY",
  "isArchived": false,
  "meta": null,
  "name": "Generador de ideas de contenido virales",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -176,
        -80
      ],
      "id": "87435d06-79da-491f-a259-6b2d78edb09e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "actorId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        272,
        -80
      ],
      "id": "fd55d03a-e0e3-4fc0-97fe-14fc2ecbc74a",
      "name": "Run an Actor and get dataset"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "57793885-aaa8-4c69-b3eb-43c55f8dcbb1",
              "name": "tema",
              "value": "agencia ia",
              "type": "string"
            },
            {
              "id": "a057613a-27f8-4bd4-b2fe-cbef912404b8",
              "name": "empresa",
              "value": "AIlink",
              "type": "string"
            },
            {
              "id": "1804f331-995a-4b7c-a52e-28dda8817437",
              "name": "contexto",
              "value": "AIlink es una empresa que ayuda a personas a crear un emprendimeinto exitoso creando sus propias agencias IA. Cuenta con la comunidad en Skool más grande de habla hispana sobre inteligencia artificial, y un canal de YouTube con +80k suscriptores. Publica contenido sobre cómo crear tu propia agencia IA, generación de leads, automatizaciones para vender, etc.",
              "type": "string"
            },
            {
              "id": "b479ac34-a8df-46e8-aa49-40d9471a7c7c",
              "name": "contenidos",
              "value": 10,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        -80
      ],
      "id": "7b19116c-3479-4bbf-87e7-69084687a31c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Título: {{ $json.title }}\n\nTranscripción: {{ $json.subtitles[0].plaintext }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Eres un resumidor de información. Vas a recibir el título de un video junto con su transcripción, y debes entregar un resumen conciso sobre la temática del video y los puntos clave. Solo responde con este resumen. El resumen debe estar en Español."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        496,
        -80
      ],
      "id": "f9f95baa-b527-455c-94d2-944b9f6e2dc3",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {
          "reasoningEffort": "low"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        576,
        144
      ],
      "id": "14760b47-2bb2-436e-8376-e11f0d5397c3",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        848,
        -80
      ],
      "id": "1fe80a05-aeec-41ea-bad7-9bd03447dec3",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "model": "sonar-pro",
        "messages": {
          "message": [
            {
              "content": "=Enriquece la siguiente información extraída de videos en tendencia en YouTube y valida que todo esté correcto. Crea un reporte detallado.\n\n**Información extraída de videos en tendencia de YouTube**\n\n{{ $('Aggregate').item.json.text.map((item, i) => `Video ${i + 1}: ${item}`).join(\"\\n\") }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        1072,
        -80
      ],
      "id": "a7923d77-923b-44f5-b8b7-1d18101f4961",
      "name": "Message a model"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {
          "reasoningEffort": "low"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1296,
        144
      ],
      "id": "28707a40-e227-4a86-bce3-84b558c71887",
      "name": "OpenAI Chat Model2"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"titulo\": {\n        \"type\": \"string\",\n        \"description\": \"Título del contenido\",\n        \"example\": \"3 formas poco conocidas de crear contenido para LinkedIn\"\n      },\n      \"contenido\": {\n        \"type\": \"string\",\n        \"description\": \"De qué va a tratar el contenido\"\n      }\n    },\n    \"required\": [\"titulo\", \"contenido\"]\n  }\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1424,
        144
      ],
      "id": "95fb519b-0599-442d-9a6e-1f94512ce2af",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1504,
        352
      ],
      "id": "1bc8bcf7-112d-4ee2-ae2a-ab0a8ce1a063",
      "name": "OpenAI Chat Model3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=---Información de los videos---\n\n{{ $('Aggregate').item.json.text.map((item, i) => `Video ${i + 1}: ${item}`).join(\"\\n\") }}\n\n---Investigación de mercado---\n\n{{ $('Message a model').item.json.choices[0].message.content }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=# Rol\nEres un experto en social media marketing que trabaja para {{ $('Edit Fields').item.json.empresa }}. Tu trabajo es crear ideas de contenido virales.\n\n# Contexto\n{{ $('Edit Fields').item.json.contexto }}\n\n# Tarea\nVas a recibir resúmenes de contenidos que están en tendencia en plataformas como YouTube. Usando estos contenidos, tienes que crear un calendario de contenido viral con {{ $('Edit Fields').item.json.contenidos }} contenidos incluyendo:\n\n-Título del contenido\n-De qué va a tratar el contenido\n\nPara enriquecer los contenidos o para asegurarte de que toda la información sea válida, recibirás también una investigación de mercado detallada.\n\nTus respuestas deben estar en formato JSON, siguiendo esta estructura:\n\nRespuesta: {\n  [\n    {\n      \"titulo\": \"Título del contenido 1\",\n      \"contenido\": \"De qué va a tratar el contenido 1\"\n    },\n    {\n      \"titulo\": \"Título del contenido 2\",\n      \"contenido\": \"De qué va a tratar el contenido 2\"\n    },\n    ...,\n    {\n      \"titulo\": \"Título del contenido {{ $('Edit Fields').item.json.contenidos }}\",\n      \"contenido\": \"De qué va a tratar el contenido {{ $('Edit Fields').item.json.contenidos }}\"\n    }\n  ]\n}\n\n# Especificaciones\n-Crea contenidos originales y únicos.\n-Da detalles específicos para que una persona pueda crear el contenido de forma fácil a partir de esta información."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1328,
        -80
      ],
      "id": "6be6cca3-a79f-4dfd-a366-1dc55b5d4e1a",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "16xy5WVG0rmBEJtkTLNLICPSJo2P-cppRCE0GzKA47XQ",
          "mode": "list",
          "cachedResultName": "Ideas de contenido",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16xy5WVG0rmBEJtkTLNLICPSJo2P-cppRCE0GzKA47XQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16xy5WVG0rmBEJtkTLNLICPSJo2P-cppRCE0GzKA47XQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Título": "={{ $json.titulo }}",
            "Detalles": "={{ $json.contenido }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Título",
              "displayName": "Título",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Detalles",
              "displayName": "Detalles",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2016,
        -80
      ],
      "id": "4edd3616-3101-45f5-ad09-1a34d5c92def",
      "name": "Append row in sheet"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1792,
        -80
      ],
      "id": "00287ebc-216b-4550-9440-b92d6ac5d312",
      "name": "Split Out"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-13T16:26:18.597Z",
      "createdAt": "2026-01-13T16:26:18.597Z",
      "role": "workflow:owner",
      "workflowId": "O9bcuLPicAr3_kWcEmdRY",
      "projectId": "f3W32VX4HOke6C3N"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-03-15T14:52:02.741Z",
      "createdAt": "2026-03-15T14:52:02.741Z",
      "id": "3uVgy40AresIYd5x",
      "name": "Prototipo"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-15T14:52:15.581Z",
  "versionId": "4657e82c-08f1-44cc-bfa5-096bb75c7623"
}