workflows/Agente Reservas v1/8HsoMy2ZcliatylP.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-15T14:47:57.000Z",
    "createdAt": "2026-03-15T14:47:56.419Z",
    "versionId": "bb5f31f0-f1bc-4264-bc35-e8d8c4962c9b",
    "workflowId": "8HsoMy2ZcliatylP",
    "nodes": [
      {
        "parameters": {
          "inputSource": "jsonExample",
          "jsonExample": "{\n  \"Inicio\":\"2025-07-13T15:30:00\",\n  \"Fin\":\"2025-07-13T21:00:00\"\n}"
        },
        "id": "c055762a-8fe7-4141-a639-df2372f30060",
        "typeVersion": 1.1,
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          144,
          352
        ]
      },
      {
        "parameters": {
          "calendar": {
            "__rl": true,
            "value": "ulises.rosales.ar@gmail.com",
            "mode": "list",
            "cachedResultName": "ulises.rosales.ar@gmail.com"
          },
          "start": "={{ $('Dar formato fechas').item.json.startTime }}{{ $('Call \\'Configuracion Global\\'').item.json.TimezoneOffset }}",
          "end": "={{ $('Dar formato fechas').item.json.endTime }}{{ $('Call \\'Configuracion Global\\'').item.json.TimezoneOffset }}",
          "useDefaultReminders": false,
          "additionalFields": {
            "summary": "Horario bloqueado por el dueño de la agenda"
          }
        },
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          1200,
          336
        ],
        "id": "0912d252-ff3d-4186-8e4d-5a7490460301",
        "name": "Create an event",
        "retryOnFail": true,
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "uUlIwgQJ1mHXECLz",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "resource": "calendar",
          "calendar": {
            "__rl": true,
            "value": "ulises.rosales.ar@gmail.com",
            "mode": "id"
          },
          "timeMin": "={{ $json.startTime }}{{ $('Call \\'Configuracion Global\\'').item.json.TimezoneOffset }}",
          "timeMax": "={{ $json.endTime }}{{ $('Call \\'Configuracion Global\\'').item.json.TimezoneOffset }}",
          "options": {
            "outputFormat": "raw",
            "timezone": {
              "__rl": true,
              "value": "America/Argentina/Buenos_Aires",
              "mode": "list",
              "cachedResultName": "America/Argentina/Buenos_Aires"
            }
          }
        },
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          672,
          352
        ],
        "id": "39c34678-b906-4c1e-b41b-bf67a0b4bb17",
        "name": "Get availability in a calendar",
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000,
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "uUlIwgQJ1mHXECLz",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $('When Executed by Another Workflow').all();\nreturn items.map(item => {\n\n  const fechaInicio = item.json.Inicio;\n  const fechaFin = item.json.Fin;\n\n  if (!fechaInicio || !fechaFin) {\n    throw new Error(\"Fecha_inicio o Fecha_fin no fueron enviadas.\");\n  }\n\n  const startObj = new Date(fechaInicio);\n  const endObj = new Date(fechaFin);\n\n  // Validar que sean fechas reales\n  if (isNaN(startObj.getTime()) || isNaN(endObj.getTime())) {\n    throw new Error(\"Una de las fechas no es válida.\");\n  }\n\n  // Validar que fin sea mayor que inicio\n  if (endObj <= startObj) {\n    throw new Error(\"La Fecha_fin debe ser mayor que la Fecha_inicio.\");\n  }\n\n  return {\n    json: {\n      startTime: fechaInicio,\n      endTime: fechaFin\n    }\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          464,
          352
        ],
        "id": "6de0e474-41c9-45e5-b32a-a9782f508b9b",
        "name": "Dar formato fechas",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "16d5942c-7d6a-40b8-a1f7-9bfd217f5c3b",
                "name": "Respuesta",
                "value": "={{ $json.error }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          624,
          528
        ],
        "id": "5186dcd3-c7ae-4315-8f6d-7d523668a51b",
        "name": "Fecha mala"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "b1069a2b-1528-44d2-8f10-7e8479b95c36",
                "leftValue": "={{ $json.calendars['ulises.rosales.ar@gmail.com'].busy }}",
                "rightValue": 0,
                "operator": {
                  "type": "array",
                  "operation": "lengthEquals",
                  "rightType": "number"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          880,
          352
        ],
        "id": "a364829b-7b8f-4285-80dc-7932bf306de8",
        "name": "Disponible?"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "335f96ae-3154-4b8d-9490-d289d807c219",
                "name": "Respuesta",
                "value": "El horaria ha sido bloqueado exitosamente.",
                "type": "string"
              },
              {
                "id": "63181d2e-3700-4635-b8f8-39ed6f2d31c6",
                "name": "Inicio",
                "value": "={{ $json.start.dateTime }}",
                "type": "string"
              },
              {
                "id": "1d9bd8db-8cbb-4ba7-8b3c-135c6b920275",
                "name": "Fin",
                "value": "={{ $json.end.dateTime }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1408,
          336
        ],
        "id": "e955c40f-e45a-4808-a59d-2dae1cdecd97",
        "name": "Respuesta"
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\nfunction formatearFechaHora(fechaISO) {\n  if (!fechaISO) return \"Sin fecha\";\n\n  const [fecha, hora] = fechaISO.split(\"T\");\n  return `${fecha} ${hora.slice(0,5)}`;\n}\n\nreturn items.map(item => {\n\n  const calendars = item.json.calendars;\n  const calendarKey = Object.keys(calendars)[0];\n  const busyArray = calendars[calendarKey].busy;\n\n  const rangos = busyArray.map(b => {\n\n    const start = formatearFechaHora(b.start);\n    const end = formatearFechaHora(b.end);\n\n    return `${start} - ${end}`;\n  });\n\n  let textoHorarios = \"\";\n\n  if (rangos.length === 1) {\n    textoHorarios = rangos[0];\n  } else {\n    textoHorarios = rangos.slice(0, -1).join(\", \") + \" y \" + rangos.slice(-1);\n  }\n\n  const mensaje = `No se puede bloquear este horario ya que se encuentran eventos agendados entre los dias y horarios: ${textoHorarios}.`;\n\n  return {\n    json: {\n      mensaje\n    }\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1056,
          464
        ],
        "id": "e184e7bf-727a-4afb-aee0-241a02271bb9",
        "name": "Eventos agendados"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "i0aP21thDHY2T8UDlPfgP",
            "mode": "list",
            "cachedResultUrl": "/workflow/i0aP21thDHY2T8UDlPfgP",
            "cachedResultName": "Configuracion Global"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          304,
          352
        ],
        "id": "45a7bd02-57e3-4a31-87e3-50238a23eac7",
        "name": "Call 'Configuracion Global'"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Call 'Configuracion Global'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get availability in a calendar": {
        "main": [
          [
            {
              "node": "Disponible?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Dar formato fechas": {
        "main": [
          [
            {
              "node": "Get availability in a calendar",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Fecha mala",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create an event": {
        "main": [
          [
            {
              "node": "Respuesta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Disponible?": {
        "main": [
          [
            {
              "node": "Create an event",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Eventos agendados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Eventos agendados": {
        "main": [
          []
        ]
      },
      "Call 'Configuracion Global'": {
        "main": [
          [
            {
              "node": "Dar formato fechas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Cognia Empresa",
    "name": "Version bb5f31f0",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "bb5f31f0-f1bc-4264-bc35-e8d8c4962c9b",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Call 'Configuracion Global'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get availability in a calendar": {
      "main": [
        [
          {
            "node": "Disponible?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dar formato fechas": {
      "main": [
        [
          {
            "node": "Get availability in a calendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fecha mala",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disponible?": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Eventos agendados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eventos agendados": {
      "main": [
        []
      ]
    },
    "Call 'Configuracion Global'": {
      "main": [
        [
          {
            "node": "Dar formato fechas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-26T19:21:29.662Z",
  "id": "8HsoMy2ZcliatylP",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "bloquear_horario",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"Inicio\":\"2025-07-13T15:30:00\",\n  \"Fin\":\"2025-07-13T21:00:00\"\n}"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        144,
        352
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "ulises.rosales.ar@gmail.com",
          "mode": "list",
          "cachedResultName": "ulises.rosales.ar@gmail.com"
        },
        "start": "={{ $('Dar formato fechas').item.json.startTime }}{{ $('Call \\'Configuracion Global\\'').item.json.TimezoneOffset }}",
        "end": "={{ $('Dar formato fechas').item.json.endTime }}{{ $('Call \\'Configuracion Global\\'').item.json.TimezoneOffset }}",
        "useDefaultReminders": false,
        "additionalFields": {
          "summary": "Horario bloqueado por el dueño de la agenda"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1200,
        336
      ],
      "id": "0912d252-ff3d-4186-8e4d-5a7490460301",
      "name": "Create an event",
      "retryOnFail": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "uUlIwgQJ1mHXECLz",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "ulises.rosales.ar@gmail.com",
          "mode": "id"
        },
        "timeMin": "={{ $json.startTime }}{{ $('Call \\'Configuracion Global\\'').item.json.TimezoneOffset }}",
        "timeMax": "={{ $json.endTime }}{{ $('Call \\'Configuracion Global\\'').item.json.TimezoneOffset }}",
        "options": {
          "outputFormat": "raw",
          "timezone": {
            "__rl": true,
            "value": "America/Argentina/Buenos_Aires",
            "mode": "list",
            "cachedResultName": "America/Argentina/Buenos_Aires"
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        672,
        352
      ],
      "id": "39c34678-b906-4c1e-b41b-bf67a0b4bb17",
      "name": "Get availability in a calendar",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "uUlIwgQJ1mHXECLz",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $('When Executed by Another Workflow').all();\nreturn items.map(item => {\n\n  const fechaInicio = item.json.Inicio;\n  const fechaFin = item.json.Fin;\n\n  if (!fechaInicio || !fechaFin) {\n    throw new Error(\"Fecha_inicio o Fecha_fin no fueron enviadas.\");\n  }\n\n  const startObj = new Date(fechaInicio);\n  const endObj = new Date(fechaFin);\n\n  // Validar que sean fechas reales\n  if (isNaN(startObj.getTime()) || isNaN(endObj.getTime())) {\n    throw new Error(\"Una de las fechas no es válida.\");\n  }\n\n  // Validar que fin sea mayor que inicio\n  if (endObj <= startObj) {\n    throw new Error(\"La Fecha_fin debe ser mayor que la Fecha_inicio.\");\n  }\n\n  return {\n    json: {\n      startTime: fechaInicio,\n      endTime: fechaFin\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        352
      ],
      "id": "6de0e474-41c9-45e5-b32a-a9782f508b9b",
      "name": "Dar formato fechas",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "16d5942c-7d6a-40b8-a1f7-9bfd217f5c3b",
              "name": "Respuesta",
              "value": "={{ $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        528
      ],
      "id": "5186dcd3-c7ae-4315-8f6d-7d523668a51b",
      "name": "Fecha mala"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b1069a2b-1528-44d2-8f10-7e8479b95c36",
              "leftValue": "={{ $json.calendars['ulises.rosales.ar@gmail.com'].busy }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "lengthEquals",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        880,
        352
      ],
      "id": "a364829b-7b8f-4285-80dc-7932bf306de8",
      "name": "Disponible?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "335f96ae-3154-4b8d-9490-d289d807c219",
              "name": "Respuesta",
              "value": "El horaria ha sido bloqueado exitosamente.",
              "type": "string"
            },
            {
              "id": "63181d2e-3700-4635-b8f8-39ed6f2d31c6",
              "name": "Inicio",
              "value": "={{ $json.start.dateTime }}",
              "type": "string"
            },
            {
              "id": "1d9bd8db-8cbb-4ba7-8b3c-135c6b920275",
              "name": "Fin",
              "value": "={{ $json.end.dateTime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1408,
        336
      ],
      "id": "e955c40f-e45a-4808-a59d-2dae1cdecd97",
      "name": "Respuesta"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction formatearFechaHora(fechaISO) {\n  if (!fechaISO) return \"Sin fecha\";\n\n  const [fecha, hora] = fechaISO.split(\"T\");\n  return `${fecha} ${hora.slice(0,5)}`;\n}\n\nreturn items.map(item => {\n\n  const calendars = item.json.calendars;\n  const calendarKey = Object.keys(calendars)[0];\n  const busyArray = calendars[calendarKey].busy;\n\n  const rangos = busyArray.map(b => {\n\n    const start = formatearFechaHora(b.start);\n    const end = formatearFechaHora(b.end);\n\n    return `${start} - ${end}`;\n  });\n\n  let textoHorarios = \"\";\n\n  if (rangos.length === 1) {\n    textoHorarios = rangos[0];\n  } else {\n    textoHorarios = rangos.slice(0, -1).join(\", \") + \" y \" + rangos.slice(-1);\n  }\n\n  const mensaje = `No se puede bloquear este horario ya que se encuentran eventos agendados entre los dias y horarios: ${textoHorarios}.`;\n\n  return {\n    json: {\n      mensaje\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        464
      ],
      "id": "e184e7bf-727a-4afb-aee0-241a02271bb9",
      "name": "Eventos agendados"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "i0aP21thDHY2T8UDlPfgP",
          "mode": "list",
          "cachedResultUrl": "/workflow/i0aP21thDHY2T8UDlPfgP",
          "cachedResultName": "Configuracion Global"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        304,
        352
      ],
      "id": "45a7bd02-57e3-4a31-87e3-50238a23eac7",
      "name": "Call 'Configuracion Global'"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "Inicio": "2026-03-01T00:00:00",
          "Fin": "2026-03-06T23:59:00"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "esT3Af9Aeha2_IffOfU2d"
  },
  "shared": [
    {
      "updatedAt": "2026-02-26T19:21:29.664Z",
      "createdAt": "2026-02-26T19:21:29.664Z",
      "role": "workflow:owner",
      "workflowId": "8HsoMy2ZcliatylP",
      "projectId": "f3W32VX4HOke6C3N"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-03-15T14:46:54.854Z",
      "createdAt": "2026-03-15T14:28:58.602Z",
      "id": "S9TWg646mw2pIE1k",
      "name": "Agente Reservas v1"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-15T14:48:06.745Z",
  "versionId": "bb5f31f0-f1bc-4264-bc35-e8d8c4962c9b"
}