workflows/Agente Reservas v1/LiHonUg95pO2m5WpY7HsO.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-15T14:50:17.000Z",
    "createdAt": "2026-03-15T14:50:16.410Z",
    "versionId": "1a867dc0-c27e-4ab8-b633-b13936136ff8",
    "workflowId": "LiHonUg95pO2m5WpY7HsO",
    "nodes": [
      {
        "parameters": {
          "inputSource": "jsonExample",
          "jsonExample": "{\n  \"celular_cliente\": \"5492616763104@s.whatsapp.net\",\n  \"nombre_Cliente\": \"Hugo Ulises Rosales\"\n}"
        },
        "id": "5c493c38-59e8-45e0-b911-4f3481bcd834",
        "typeVersion": 1.1,
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const celularRaw = $('When Executed by Another Workflow').first().json.celular_cliente || \"\";\nconst celularLimpio = celularRaw.split(\"@\")[0];\nreturn [{ json: { celular: celularLimpio } }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          496,
          0
        ],
        "id": "ed632ab4-5fb3-4e90-9092-597b658700a8",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('Call \\'Configuracion Global\\'').item.json.EvolutionUrl }}/message/sendText/{{ $('Call \\'Configuracion Global\\'').item.json.EvolutionInstance }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('Call \\'Configuracion Global\\'').item.json.EvolutionApiKey }}"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "number",
                "value": "={{ $('Call \\'Configuracion Global\\'').item.json['CelularDueño'] }}"
              },
              {
                "name": "text",
                "value": "=Hola, te informo que el cliente {{ $('When Executed by Another Workflow').item.json.nombre_Cliente }} solicitó asistencia de un asesor.\nPodés contactarlo al siguiente número: {{ $json.celular }}."
              },
              {
                "name": "delay",
                "value": "={{ 2000 }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          688,
          0
        ],
        "id": "be7c2de2-7198-4a9a-aa90-807c6579a762",
        "name": "send_asesor"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "i0aP21thDHY2T8UDlPfgP",
            "mode": "list",
            "cachedResultUrl": "/workflow/i0aP21thDHY2T8UDlPfgP",
            "cachedResultName": "Configuracion Global"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          208,
          0
        ],
        "id": "c53f86a6-c7b9-4138-b2d9-52481188aef0",
        "name": "Call 'Configuracion Global'"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Call 'Configuracion Global'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "send_asesor",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Configuracion Global'": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Cognia Empresa",
    "name": "Version 1a867dc0",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "1a867dc0-c27e-4ab8-b633-b13936136ff8",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Call 'Configuracion Global'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "send_asesor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Configuracion Global'": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-10T18:52:59.911Z",
  "id": "LiHonUg95pO2m5WpY7HsO",
  "isArchived": false,
  "meta": null,
  "name": "enviar_asesor",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"celular_cliente\": \"5492616763104@s.whatsapp.net\",\n  \"nombre_Cliente\": \"Hugo Ulises Rosales\"\n}"
      },
      "id": "5c493c38-59e8-45e0-b911-4f3481bcd834",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const celularRaw = $('When Executed by Another Workflow').first().json.celular_cliente || \"\";\nconst celularLimpio = celularRaw.split(\"@\")[0];\nreturn [{ json: { celular: celularLimpio } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        0
      ],
      "id": "ed632ab4-5fb3-4e90-9092-597b658700a8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Call \\'Configuracion Global\\'').item.json.EvolutionUrl }}/message/sendText/{{ $('Call \\'Configuracion Global\\'').item.json.EvolutionInstance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Call \\'Configuracion Global\\'').item.json.EvolutionApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Call \\'Configuracion Global\\'').item.json['CelularDueño'] }}"
            },
            {
              "name": "text",
              "value": "=Hola, te informo que el cliente {{ $('When Executed by Another Workflow').item.json.nombre_Cliente }} solicitó asistencia de un asesor.\nPodés contactarlo al siguiente número: {{ $json.celular }}."
            },
            {
              "name": "delay",
              "value": "={{ 2000 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        0
      ],
      "id": "be7c2de2-7198-4a9a-aa90-807c6579a762",
      "name": "send_asesor"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "i0aP21thDHY2T8UDlPfgP",
          "mode": "list",
          "cachedResultUrl": "/workflow/i0aP21thDHY2T8UDlPfgP",
          "cachedResultName": "Configuracion Global"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "c53f86a6-c7b9-4138-b2d9-52481188aef0",
      "name": "Call 'Configuracion Global'"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "celular_cliente": "5492616763104@s.whatsapp.net",
          "nombre_Cliente": "Ulises Rosales"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "esT3Af9Aeha2_IffOfU2d"
  },
  "shared": [
    {
      "updatedAt": "2026-01-10T18:52:59.914Z",
      "createdAt": "2026-01-10T18:52:59.914Z",
      "role": "workflow:owner",
      "workflowId": "LiHonUg95pO2m5WpY7HsO",
      "projectId": "f3W32VX4HOke6C3N"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-03-15T14:46:54.854Z",
      "createdAt": "2026-03-15T14:28:58.602Z",
      "id": "S9TWg646mw2pIE1k",
      "name": "Agente Reservas v1"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-15T14:50:35.909Z",
  "versionId": "1a867dc0-c27e-4ab8-b633-b13936136ff8"
}