workflows/Agente Reservas v1/q6yYHNJXJnfYBfml.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-21T16:49:59.000Z",
    "createdAt": "2026-03-21T16:49:58.375Z",
    "versionId": "2d3aceb6-c791-4985-9a0c-71bb873028f7",
    "workflowId": "q6yYHNJXJnfYBfml",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "84a1ad97-05fd-426b-9c9d-678040fc4178",
        "typeVersion": 1.1,
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          240,
          688
        ]
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "getAll",
          "projectId": "pvalhsum160gh07",
          "table": "mquqqjjvsekrhib",
          "returnAll": true,
          "options": {}
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          400,
          704
        ],
        "id": "e4d18026-f370-4e8a-9f33-f9a86551bc45",
        "name": "Get many rows",
        "credentials": {
          "nocoDbApiToken": {
            "id": "NJEMSwQ8VfnQXOIP",
            "name": "NocoDB Token account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "85bb0bb9-3575-4070-8eec-971bf3b83806",
                "name": "tipo",
                "value": "={{ $json.tipo }}",
                "type": "string"
              },
              {
                "id": "66833910-e22b-4d70-bf0f-dd6260ff1297",
                "name": "valor",
                "value": "={{ $json.valor }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          608,
          704
        ],
        "id": "2c64e240-5c1d-4e5b-b2e6-731bba517eb5",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          816,
          704
        ],
        "id": "3aed2228-a1e8-43f9-b835-a0b8640eaf2c",
        "name": "Aggregate"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Get many rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many rows": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Cognia Empresa",
    "name": "Version 2d3aceb6",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "2d3aceb6-c791-4985-9a0c-71bb873028f7",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-06T22:00:44.342Z",
  "id": "q6yYHNJXJnfYBfml",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Info-General",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "84a1ad97-05fd-426b-9c9d-678040fc4178",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        240,
        688
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pvalhsum160gh07",
        "table": "mquqqjjvsekrhib",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        400,
        704
      ],
      "id": "e4d18026-f370-4e8a-9f33-f9a86551bc45",
      "name": "Get many rows",
      "credentials": {
        "nocoDbApiToken": {
          "id": "NJEMSwQ8VfnQXOIP",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85bb0bb9-3575-4070-8eec-971bf3b83806",
              "name": "tipo",
              "value": "={{ $json.tipo }}",
              "type": "string"
            },
            {
              "id": "66833910-e22b-4d70-bf0f-dd6260ff1297",
              "name": "valor",
              "value": "={{ $json.valor }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        704
      ],
      "id": "2c64e240-5c1d-4e5b-b2e6-731bba517eb5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        816,
        704
      ],
      "id": "3aed2228-a1e8-43f9-b835-a0b8640eaf2c",
      "name": "Aggregate"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "esT3Af9Aeha2_IffOfU2d"
  },
  "shared": [
    {
      "updatedAt": "2026-02-06T22:00:44.345Z",
      "createdAt": "2026-02-06T22:00:44.345Z",
      "role": "workflow:owner",
      "workflowId": "q6yYHNJXJnfYBfml",
      "projectId": "f3W32VX4HOke6C3N"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-03-15T14:46:54.854Z",
      "createdAt": "2026-03-15T14:28:58.602Z",
      "id": "S9TWg646mw2pIE1k",
      "name": "Agente Reservas v1"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-21T16:49:58.374Z",
  "versionId": "2d3aceb6-c791-4985-9a0c-71bb873028f7"
}