workflows/Agente Reservas v1/qammYe22KuZK4etZ.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-02-17T22:26:34.000Z",
    "createdAt": "2026-02-17T22:26:33.111Z",
    "versionId": "a4955ee0-33de-4b9e-8d39-0865dabe65c6",
    "workflowId": "qammYe22KuZK4etZ",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "Numero"
              }
            ]
          }
        },
        "id": "c055762a-8fe7-4141-a639-df2372f30060",
        "typeVersion": 1.1,
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          272,
          352
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "adfc43aa-990f-403e-a67d-35e875b9479b",
                "leftValue": "={{ $json.id }}",
                "rightValue": 0,
                "operator": {
                  "type": "array",
                  "operation": "lengthGt",
                  "rightType": "number"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1104,
          352
        ],
        "id": "695ae075-03d8-4d69-8c36-36d624176097",
        "name": "If1"
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "ulises.rosales.ar@gmail.com",
            "mode": "list",
            "cachedResultName": "ulises.rosales.ar@gmail.com"
          },
          "timeMin": "={{ $now  }}",
          "timeMax": "={{ $now.plus({ day: 1.2 }) }}",
          "options": {
            "query": "={{ $json.Numero }}"
          }
        },
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          528,
          352
        ],
        "id": "3efc0d64-9120-4420-9fc5-fd1cfb1b226d",
        "name": "getNextDayEventsByNumber",
        "alwaysOutputData": true,
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "uUlIwgQJ1mHXECLz",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "id"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          800,
          352
        ],
        "id": "307fa5cf-205b-4876-ad30-961202dbee66",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "operation": "update",
          "calendar": {
            "__rl": true,
            "value": "ulises.rosales.ar@gmail.com",
            "mode": "list",
            "cachedResultName": "ulises.rosales.ar@gmail.com"
          },
          "eventId": "={{ $json.id }}",
          "updateFields": {
            "color": "2"
          }
        },
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          1488,
          224
        ],
        "id": "38fb21e5-a093-4894-a899-09e9af853dcb",
        "name": "Update an event",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "uUlIwgQJ1mHXECLz",
            "name": "Google Calendar account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "fieldToSplitOut": "id",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          1280,
          224
        ],
        "id": "9e4bbb94-605c-45e6-9aa5-1f3b2f95bc48",
        "name": "Split Out"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "df38c5b1-ace6-405f-b9fe-f9acc501f9ca",
                "name": "Respuesta",
                "value": "=La {{ $json.summary }} a sido confirmada.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1744,
          208
        ],
        "id": "dd0e454d-d3e6-4f23-8891-c87f8f47c552",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "dfd0a01a-6d40-4fc6-bbca-d853f492a14c",
                "name": "Respuesta",
                "value": "No hay citas para confirmar, las citas se pueden confirmar luego del mensaje de recordatorio, si es que el usuario tiene cita.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1312,
          448
        ],
        "id": "5f6d150a-f146-4c94-8c95-efc95df552c9",
        "name": "Edit Fields1"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "getNextDayEventsByNumber",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "getNextDayEventsByNumber": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Update an event",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update an event": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Cognia Empresa",
    "name": "Version a4955ee0",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "a4955ee0-33de-4b9e-8d39-0865dabe65c6",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "getNextDayEventsByNumber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getNextDayEventsByNumber": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Update an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update an event": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-17T20:02:30.935Z",
  "id": "qammYe22KuZK4etZ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "confirmar_cita",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Numero"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "adfc43aa-990f-403e-a67d-35e875b9479b",
              "leftValue": "={{ $json.id }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "lengthGt",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1104,
        352
      ],
      "id": "695ae075-03d8-4d69-8c36-36d624176097",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "ulises.rosales.ar@gmail.com",
          "mode": "list",
          "cachedResultName": "ulises.rosales.ar@gmail.com"
        },
        "timeMin": "={{ $now  }}",
        "timeMax": "={{ $now.plus({ day: 1.2 }) }}",
        "options": {
          "query": "={{ $json.Numero }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        528,
        352
      ],
      "id": "3efc0d64-9120-4420-9fc5-fd1cfb1b226d",
      "name": "getNextDayEventsByNumber",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "uUlIwgQJ1mHXECLz",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        800,
        352
      ],
      "id": "307fa5cf-205b-4876-ad30-961202dbee66",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "ulises.rosales.ar@gmail.com",
          "mode": "list",
          "cachedResultName": "ulises.rosales.ar@gmail.com"
        },
        "eventId": "={{ $json.id }}",
        "updateFields": {
          "color": "2"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1488,
        224
      ],
      "id": "38fb21e5-a093-4894-a899-09e9af853dcb",
      "name": "Update an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "uUlIwgQJ1mHXECLz",
          "name": "Google Calendar account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "id",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1280,
        224
      ],
      "id": "9e4bbb94-605c-45e6-9aa5-1f3b2f95bc48",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df38c5b1-ace6-405f-b9fe-f9acc501f9ca",
              "name": "Respuesta",
              "value": "=La {{ $json.summary }} a sido confirmada.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1744,
        208
      ],
      "id": "dd0e454d-d3e6-4f23-8891-c87f8f47c552",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dfd0a01a-6d40-4fc6-bbca-d853f492a14c",
              "name": "Respuesta",
              "value": "No hay citas para confirmar, las citas se pueden confirmar luego del mensaje de recordatorio, si es que el usuario tiene cita.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1312,
        448
      ],
      "id": "5f6d150a-f146-4c94-8c95-efc95df552c9",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "Numero": "5492616763104@s.whatsapp.net"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "esT3Af9Aeha2_IffOfU2d"
  },
  "shared": [
    {
      "updatedAt": "2026-02-17T20:02:30.938Z",
      "createdAt": "2026-02-17T20:02:30.938Z",
      "role": "workflow:owner",
      "workflowId": "qammYe22KuZK4etZ",
      "projectId": "f3W32VX4HOke6C3N"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-03-15T14:46:54.854Z",
      "createdAt": "2026-03-15T14:28:58.602Z",
      "id": "S9TWg646mw2pIE1k",
      "name": "Agente Reservas v1"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-15T14:48:31.969Z",
  "versionId": "a4955ee0-33de-4b9e-8d39-0865dabe65c6"
}