workflows/Agente Reservas v1/Sqfs-Ehgzsva7Ya486HXB.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-23T15:08:31.000Z",
    "createdAt": "2026-03-23T15:08:29.534Z",
    "versionId": "85afca04-decb-45cb-bed8-b4216556938b",
    "workflowId": "Sqfs-Ehgzsva7Ya486HXB",
    "nodes": [
      {
        "parameters": {
          "inputSource": "jsonExample",
          "jsonExample": "{\n  \"Fecha\": \"2025-07-09T15:30:00\",\n  \"Nombre\":\"Ulises Rosales\",\n  \"Telefono\":\"56954675214\",\n  \"id_servicio\":\"3\"\n}"
        },
        "id": "88d64544-03c7-4230-bc16-3ecf3588b2d4",
        "typeVersion": 1.1,
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          -416,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "// Fecha ORIGINAL (no tocar)\nconst fechaOriginal = new Date($('When Executed by Another Workflow').first().json.Fecha);\n\n// Duración\nconst duracionMinutos = Number($input.first().json.Tiempo_estimado_min);\n\n// ---- FORMATO LEGIBLE usando la fecha original ----\nconst dia = String(fechaOriginal.getDate()).padStart(2, \"0\");\nconst mes = String(fechaOriginal.getMonth() + 1).padStart(2, \"0\");\nconst anio = fechaOriginal.getFullYear();\n\nconst horas = String(fechaOriginal.getHours()).padStart(2, \"0\");\nconst minutos = String(fechaOriginal.getMinutes()).padStart(2, \"0\");\n\nconst fecha_formateada = `${dia}/${mes}/${anio} a las ${horas}:${minutos} hs`;\n\nconst fecha_sola = `${dia}/${mes}/${anio}`;\n\n// ---- Calcular FechaFin ----\nconst fechaFinObj = new Date(fechaOriginal);\nfechaFinObj.setMinutes(fechaFinObj.getMinutes() + duracionMinutos);\n\nconst fechaFin = fechaFinObj.toISOString().substring(0, 19);\n\nreturn [\n  {\n    json: {\n      FechaInicio: $('When Executed by Another Workflow').first().json.Fecha,\n      DuracionMinutos: duracionMinutos,\n      FechaFin: fechaFin,\n      fecha_formateada: fecha_formateada,\n      fecha_sola: fecha_sola\n    }\n  }\n];\n\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          576,
          -16
        ],
        "id": "2880883f-1d9e-469f-a734-4c2758790709",
        "name": "Code",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "resource": "calendar",
          "calendar": {
            "__rl": true,
            "value": "ulises.rosales.ar@gmail.com",
            "mode": "list",
            "cachedResultName": "ulises.rosales.ar@gmail.com"
          },
          "timeMin": "={{ $('Code').item.json.FechaInicio }}{{ $('Call \\'Configuracion Global\\'').item.json.TimezoneOffset }}",
          "timeMax": "={{ $('Code').item.json.FechaFin }}{{ $('Call \\'Configuracion Global\\'').item.json.TimezoneOffset }}",
          "options": {
            "outputFormat": "availability"
          }
        },
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          1264,
          0
        ],
        "id": "65f32a4f-cda3-4ed9-9bc6-33cff462ffb0",
        "name": "Get availability in a calendar",
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000,
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "uUlIwgQJ1mHXECLz",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "c1de2086-374f-467c-a36c-1755bf88949d",
                "leftValue": "={{ $json.available }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1456,
          0
        ],
        "id": "531600ad-393d-469f-b044-717c81dbb821",
        "name": "If"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "uqH8dYw900BtDEIKgLkU9",
            "mode": "list",
            "cachedResultUrl": "/workflow/uqH8dYw900BtDEIKgLkU9",
            "cachedResultName": "entregar_horarios"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "Fecha": "={{ $('Code').item.json.FechaInicio }}",
              "id_servicio": "={{ $('When Executed by Another Workflow').item.json.id_servicio }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Fecha",
                "displayName": "Fecha",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "id_servicio",
                "displayName": "id_servicio",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "mode": "each",
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1664,
          176
        ],
        "id": "94739a2d-2f06-45d0-a32a-600a64933e9a",
        "name": "Call 'entregar_horarios'"
      },
      {
        "parameters": {
          "calendar": {
            "__rl": true,
            "value": "ulises.rosales.ar@gmail.com",
            "mode": "list",
            "cachedResultName": "ulises.rosales.ar@gmail.com"
          },
          "start": "={{ $('Code').item.json.FechaInicio }}{{ $('Call \\'Configuracion Global\\'').item.json.TimezoneOffset }}",
          "end": "={{ $('Code').item.json.FechaFin }}{{ $('Call \\'Configuracion Global\\'').item.json.TimezoneOffset }}",
          "additionalFields": {
            "description": "={{ $('Get a row').item.json['Preparación previa'] }}",
            "summary": "=Cita: {{ $('Get a row').item.json.Nombre }}. id_servicio: {{ $('When Executed by Another Workflow').item.json.id_servicio }}. Duracion estimada: {{ $('Get a row').item.json.Tiempo_estimado_min }} minutos. Para {{ $('When Executed by Another Workflow').item.json.Nombre }}. {{ $('When Executed by Another Workflow').item.json.Telefono }}"
          }
        },
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          1712,
          -32
        ],
        "id": "3e009a1c-c6ce-4c40-8335-eaf2bbb9e25a",
        "name": "Create an event",
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000,
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "uUlIwgQJ1mHXECLz",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f05fb27c-c655-46d5-914a-10f355946e81",
                "name": "Respuesta",
                "value": "=La cita ha sido reservada exitosamente para el {{ $('Code').item.json.fecha_formateada }}.\nAquí tienes los detalles de la reserva:\n{{ $json.summary }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1888,
          -48
        ],
        "id": "df1aff29-6ca5-42b6-ab97-62992fcaa00a",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "JcLddoWI3V8ZtQdGAeAmT",
            "mode": "list",
            "cachedResultUrl": "/workflow/JcLddoWI3V8ZtQdGAeAmT",
            "cachedResultName": "comprobar_fecha_clinica"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "Fecha": "={{ $('When Executed by Another Workflow').item.json.Fecha }}",
              "Disponibilidad": "={{ $('Get a row').item.json.Disponible }}",
              "DiaDisponible": "={{ $('Get a row').item.json['_nc_m2m_Servicios_Días Especiales']\n   .map(i => i['Días Especiales']['Día'])\n   .join(', ') }}",
              "Duracion": "={{ $json.DuracionMinutos }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Fecha",
                "displayName": "Fecha",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "Duracion",
                "displayName": "Duracion",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number",
                "removed": false
              },
              {
                "id": "Disponibilidad",
                "displayName": "Disponibilidad",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "DiaDisponible",
                "displayName": "DiaDisponible",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "mode": "each",
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          816,
          -16
        ],
        "id": "bfadd5cd-7216-4be3-bf14-d6291b31690b",
        "name": "Call 'comprobar_fecha_clinica'"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "a71257eb-c455-496a-8139-b81f79100f0f",
                "leftValue": "={{ $json.Valida }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          992,
          0
        ],
        "id": "bb8aaf4e-0e7c-4853-be9e-05dfbcd68c49",
        "name": "If1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f05fb27c-c655-46d5-914a-10f355946e81",
                "name": "Respuesta",
                "value": "={{ $json.Justificacion }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1136,
          160
        ],
        "id": "e868396b-59aa-4aa9-97cb-30fbde2e26ef",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "16d5942c-7d6a-40b8-a1f7-9bfd217f5c3b",
                "name": "Respuesta",
                "value": "=La el formato o fecha ingresada no son validos.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          784,
          192
        ],
        "id": "834aecca-70cb-4064-a2d1-8c9911cb1ef0",
        "name": "Edit Fields2"
      },
      {
        "parameters": {
          "amount": 3
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          96,
          0
        ],
        "id": "912f514e-93c6-4b59-a466-37b9523b91c5",
        "name": "Wait",
        "webhookId": "abb5912f-5f36-4aca-b79f-fbaa6d28371d"
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "projectId": "pvalhsum160gh07",
          "table": "m3m2qj8gmy4irp0",
          "id": "={{ $('When Executed by Another Workflow').item.json.id_servicio }}"
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          368,
          0
        ],
        "id": "459f8035-a889-4546-a897-c2c27198552c",
        "name": "Get a row",
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "credentials": {
          "nocoDbApiToken": {
            "id": "NJEMSwQ8VfnQXOIP",
            "name": "NocoDB Token account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "0762aa58-c5fb-435a-9d6f-1d0409e44ada",
                "name": "Error",
                "value": "=Hubo un error encontrando el servicio. Existe una posibilidad de que el servicio con ese id no exista.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          528,
          176
        ],
        "id": "56347592-fbcc-4ab0-a7c8-60d89a511e92",
        "name": "Edit Fields3"
      },
      {
        "parameters": {
          "jsCode": "const intervalos = $json.intervalosDisponibles;\nconst fecha = $('Code').item.json.fecha_sola;\n\nfunction esManana(hora) {\n  const h = parseInt(hora.split(\":\")[0], 10);\n  return h < 13;\n}\n\nfunction esTarde(hora) {\n  const h = parseInt(hora.split(\":\")[0], 10);\n  return h >= 13;\n}\n\nlet manana = [];\nlet tarde = [];\n\nfor (const i of intervalos) {\n  if (esManana(i.desde)) {\n    manana.push(i);\n  } else {\n    tarde.push(i);\n  }\n}\n\nlet texto = `No hay disponibilidad para el horario solicitado. Estos son los horarios disponibles para el ${fecha}:\\n`;\n\nif (manana.length) {\n  texto += `\\nPor la mañana:\\n`;\n  manana.forEach(i => {\n    texto += `• Desde ${i.desde} hasta ${i.hasta}\\n`;\n  });\n}\n\nif (tarde.length) {\n  texto += `\\nPor la tarde:\\n`;\n  tarde.forEach(i => {\n    texto += `• Desde ${i.desde} hasta ${i.hasta}\\n`;\n  });\n}\n\nreturn [{ texto }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2048,
          160
        ],
        "id": "cc708a6e-41d0-4070-8365-b18a2a6e55c5",
        "name": "FormatearSlots",
        "disabled": true
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "i0aP21thDHY2T8UDlPfgP",
            "mode": "list",
            "cachedResultUrl": "/workflow/i0aP21thDHY2T8UDlPfgP",
            "cachedResultName": "Configuracion Global"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -208,
          0
        ],
        "id": "8ddb7f30-2e02-4631-ab33-2ac98d294645",
        "name": "Call 'Configuracion Global'"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "82c9f36f-f486-4bb9-b201-94e7a352bb0c",
                "name": "Mensaje",
                "value": "No hay disponibilidad en el horario seleccionado, estos son los horarios disponibles.",
                "type": "string"
              },
              {
                "id": "dd7ee899-73ee-463e-8cdc-30f0693a275a",
                "name": "slotsDisponibles",
                "value": "={{ $json.slotsDisponibles.toJsonString()\n}}",
                "type": "array"
              },
              {
                "id": "cdfe72fd-b4c5-44b0-8732-8f376f3037cf",
                "name": "instruccionIA",
                "value": "={{ $json.instruccionIA }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1856,
          192
        ],
        "id": "6d2eedb3-136d-43ee-b971-460eff6c8977",
        "name": "Edit Fields5"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Call 'Configuracion Global'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code": {
        "main": [
          [
            {
              "node": "Call 'comprobar_fecha_clinica'",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get availability in a calendar": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Create an event",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call 'entregar_horarios'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create an event": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'entregar_horarios'": {
        "main": [
          [
            {
              "node": "Edit Fields5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'comprobar_fecha_clinica'": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Get availability in a calendar",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Get a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a row": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Configuracion Global'": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Cognia Empresa",
    "name": "Version 85afca04",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "85afca04-decb-45cb-bed8-b4216556938b",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Call 'Configuracion Global'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Call 'comprobar_fecha_clinica'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get availability in a calendar": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'entregar_horarios'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'entregar_horarios'": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'comprobar_fecha_clinica'": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Get availability in a calendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Configuracion Global'": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-10T18:51:10.658Z",
  "id": "Sqfs-Ehgzsva7Ya486HXB",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "reservar_citas_clinica",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"Fecha\": \"2025-07-09T15:30:00\",\n  \"Nombre\":\"Ulises Rosales\",\n  \"Telefono\":\"56954675214\",\n  \"id_servicio\":\"3\"\n}"
      },
      "id": "88d64544-03c7-4230-bc16-3ecf3588b2d4",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -416,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Fecha ORIGINAL (no tocar)\nconst fechaOriginal = new Date($('When Executed by Another Workflow').first().json.Fecha);\n\n// Duración\nconst duracionMinutos = Number($input.first().json.Tiempo_estimado_min);\n\n// ---- FORMATO LEGIBLE usando la fecha original ----\nconst dia = String(fechaOriginal.getDate()).padStart(2, \"0\");\nconst mes = String(fechaOriginal.getMonth() + 1).padStart(2, \"0\");\nconst anio = fechaOriginal.getFullYear();\n\nconst horas = String(fechaOriginal.getHours()).padStart(2, \"0\");\nconst minutos = String(fechaOriginal.getMinutes()).padStart(2, \"0\");\n\nconst fecha_formateada = `${dia}/${mes}/${anio} a las ${horas}:${minutos} hs`;\n\nconst fecha_sola = `${dia}/${mes}/${anio}`;\n\n// ---- Calcular FechaFin ----\nconst fechaFinObj = new Date(fechaOriginal);\nfechaFinObj.setMinutes(fechaFinObj.getMinutes() + duracionMinutos);\n\nconst fechaFin = fechaFinObj.toISOString().substring(0, 19);\n\nreturn [\n  {\n    json: {\n      FechaInicio: $('When Executed by Another Workflow').first().json.Fecha,\n      DuracionMinutos: duracionMinutos,\n      FechaFin: fechaFin,\n      fecha_formateada: fecha_formateada,\n      fecha_sola: fecha_sola\n    }\n  }\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        -16
      ],
      "id": "2880883f-1d9e-469f-a734-4c2758790709",
      "name": "Code",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "ulises.rosales.ar@gmail.com",
          "mode": "list",
          "cachedResultName": "ulises.rosales.ar@gmail.com"
        },
        "timeMin": "={{ $('Code').item.json.FechaInicio }}{{ $('Call \\'Configuracion Global\\'').item.json.TimezoneOffset }}",
        "timeMax": "={{ $('Code').item.json.FechaFin }}{{ $('Call \\'Configuracion Global\\'').item.json.TimezoneOffset }}",
        "options": {
          "outputFormat": "availability"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1264,
        0
      ],
      "id": "65f32a4f-cda3-4ed9-9bc6-33cff462ffb0",
      "name": "Get availability in a calendar",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "uUlIwgQJ1mHXECLz",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c1de2086-374f-467c-a36c-1755bf88949d",
              "leftValue": "={{ $json.available }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1456,
        0
      ],
      "id": "531600ad-393d-469f-b044-717c81dbb821",
      "name": "If"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "uqH8dYw900BtDEIKgLkU9",
          "mode": "list",
          "cachedResultUrl": "/workflow/uqH8dYw900BtDEIKgLkU9",
          "cachedResultName": "entregar_horarios"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ $('Code').item.json.FechaInicio }}",
            "id_servicio": "={{ $('When Executed by Another Workflow').item.json.id_servicio }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_servicio",
              "displayName": "id_servicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1664,
        176
      ],
      "id": "94739a2d-2f06-45d0-a32a-600a64933e9a",
      "name": "Call 'entregar_horarios'"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "ulises.rosales.ar@gmail.com",
          "mode": "list",
          "cachedResultName": "ulises.rosales.ar@gmail.com"
        },
        "start": "={{ $('Code').item.json.FechaInicio }}{{ $('Call \\'Configuracion Global\\'').item.json.TimezoneOffset }}",
        "end": "={{ $('Code').item.json.FechaFin }}{{ $('Call \\'Configuracion Global\\'').item.json.TimezoneOffset }}",
        "additionalFields": {
          "description": "={{ $('Get a row').item.json['Preparación previa'] }}",
          "summary": "=Cita: {{ $('Get a row').item.json.Nombre }}. id_servicio: {{ $('When Executed by Another Workflow').item.json.id_servicio }}. Duracion estimada: {{ $('Get a row').item.json.Tiempo_estimado_min }} minutos. Para {{ $('When Executed by Another Workflow').item.json.Nombre }}. {{ $('When Executed by Another Workflow').item.json.Telefono }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1712,
        -32
      ],
      "id": "3e009a1c-c6ce-4c40-8335-eaf2bbb9e25a",
      "name": "Create an event",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "uUlIwgQJ1mHXECLz",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f05fb27c-c655-46d5-914a-10f355946e81",
              "name": "Respuesta",
              "value": "=La cita ha sido reservada exitosamente para el {{ $('Code').item.json.fecha_formateada }}.\nAquí tienes los detalles de la reserva:\n{{ $json.summary }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1888,
        -48
      ],
      "id": "df1aff29-6ca5-42b6-ab97-62992fcaa00a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JcLddoWI3V8ZtQdGAeAmT",
          "mode": "list",
          "cachedResultUrl": "/workflow/JcLddoWI3V8ZtQdGAeAmT",
          "cachedResultName": "comprobar_fecha_clinica"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ $('When Executed by Another Workflow').item.json.Fecha }}",
            "Disponibilidad": "={{ $('Get a row').item.json.Disponible }}",
            "DiaDisponible": "={{ $('Get a row').item.json['_nc_m2m_Servicios_Días Especiales']\n   .map(i => i['Días Especiales']['Día'])\n   .join(', ') }}",
            "Duracion": "={{ $json.DuracionMinutos }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Duracion",
              "displayName": "Duracion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "Disponibilidad",
              "displayName": "Disponibilidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "DiaDisponible",
              "displayName": "DiaDisponible",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        816,
        -16
      ],
      "id": "bfadd5cd-7216-4be3-bf14-d6291b31690b",
      "name": "Call 'comprobar_fecha_clinica'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a71257eb-c455-496a-8139-b81f79100f0f",
              "leftValue": "={{ $json.Valida }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        992,
        0
      ],
      "id": "bb8aaf4e-0e7c-4853-be9e-05dfbcd68c49",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f05fb27c-c655-46d5-914a-10f355946e81",
              "name": "Respuesta",
              "value": "={{ $json.Justificacion }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        160
      ],
      "id": "e868396b-59aa-4aa9-97cb-30fbde2e26ef",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "16d5942c-7d6a-40b8-a1f7-9bfd217f5c3b",
              "name": "Respuesta",
              "value": "=La el formato o fecha ingresada no son validos.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        192
      ],
      "id": "834aecca-70cb-4064-a2d1-8c9911cb1ef0",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        96,
        0
      ],
      "id": "912f514e-93c6-4b59-a466-37b9523b91c5",
      "name": "Wait",
      "webhookId": "abb5912f-5f36-4aca-b79f-fbaa6d28371d"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "projectId": "pvalhsum160gh07",
        "table": "m3m2qj8gmy4irp0",
        "id": "={{ $('When Executed by Another Workflow').item.json.id_servicio }}"
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        368,
        0
      ],
      "id": "459f8035-a889-4546-a897-c2c27198552c",
      "name": "Get a row",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "nocoDbApiToken": {
          "id": "NJEMSwQ8VfnQXOIP",
          "name": "NocoDB Token account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0762aa58-c5fb-435a-9d6f-1d0409e44ada",
              "name": "Error",
              "value": "=Hubo un error encontrando el servicio. Existe una posibilidad de que el servicio con ese id no exista.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        176
      ],
      "id": "56347592-fbcc-4ab0-a7c8-60d89a511e92",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "jsCode": "const intervalos = $json.intervalosDisponibles;\nconst fecha = $('Code').item.json.fecha_sola;\n\nfunction esManana(hora) {\n  const h = parseInt(hora.split(\":\")[0], 10);\n  return h < 13;\n}\n\nfunction esTarde(hora) {\n  const h = parseInt(hora.split(\":\")[0], 10);\n  return h >= 13;\n}\n\nlet manana = [];\nlet tarde = [];\n\nfor (const i of intervalos) {\n  if (esManana(i.desde)) {\n    manana.push(i);\n  } else {\n    tarde.push(i);\n  }\n}\n\nlet texto = `No hay disponibilidad para el horario solicitado. Estos son los horarios disponibles para el ${fecha}:\\n`;\n\nif (manana.length) {\n  texto += `\\nPor la mañana:\\n`;\n  manana.forEach(i => {\n    texto += `• Desde ${i.desde} hasta ${i.hasta}\\n`;\n  });\n}\n\nif (tarde.length) {\n  texto += `\\nPor la tarde:\\n`;\n  tarde.forEach(i => {\n    texto += `• Desde ${i.desde} hasta ${i.hasta}\\n`;\n  });\n}\n\nreturn [{ texto }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2048,
        160
      ],
      "id": "cc708a6e-41d0-4070-8365-b18a2a6e55c5",
      "name": "FormatearSlots",
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "i0aP21thDHY2T8UDlPfgP",
          "mode": "list",
          "cachedResultUrl": "/workflow/i0aP21thDHY2T8UDlPfgP",
          "cachedResultName": "Configuracion Global"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -208,
        0
      ],
      "id": "8ddb7f30-2e02-4631-ab33-2ac98d294645",
      "name": "Call 'Configuracion Global'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "82c9f36f-f486-4bb9-b201-94e7a352bb0c",
              "name": "Mensaje",
              "value": "No hay disponibilidad en el horario seleccionado, estos son los horarios disponibles.",
              "type": "string"
            },
            {
              "id": "dd7ee899-73ee-463e-8cdc-30f0693a275a",
              "name": "slotsDisponibles",
              "value": "={{ $json.slotsDisponibles.toJsonString()\n}}",
              "type": "array"
            },
            {
              "id": "cdfe72fd-b4c5-44b0-8732-8f376f3037cf",
              "name": "instruccionIA",
              "value": "={{ $json.instruccionIA }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        192
      ],
      "id": "6d2eedb3-136d-43ee-b971-460eff6c8977",
      "name": "Edit Fields5"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "Fecha": "2026-03-19T19:00:00",
          "Nombre": "Rocio Bleisen",
          "Telefono": "5492616763104@s.whatsapp.net",
          "id_servicio": "1"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "esT3Af9Aeha2_IffOfU2d"
  },
  "shared": [
    {
      "updatedAt": "2026-01-10T18:51:10.663Z",
      "createdAt": "2026-01-10T18:51:10.663Z",
      "role": "workflow:owner",
      "workflowId": "Sqfs-Ehgzsva7Ya486HXB",
      "projectId": "f3W32VX4HOke6C3N"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-03-15T14:46:54.854Z",
      "createdAt": "2026-03-15T14:28:58.602Z",
      "id": "S9TWg646mw2pIE1k",
      "name": "Agente Reservas v1"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-23T15:08:29.532Z",
  "versionId": "85afca04-decb-45cb-bed8-b4216556938b"
}