workflows/73n7FPp3lDArHAV9wFDHw.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Create a workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-15T15:31:25.922Z",
  "id": "73n7FPp3lDArHAV9wFDHw",
  "isArchived": false,
  "meta": null,
  "name": "Copiar Workflows",
  "nodes": [
    {
      "parameters": {
        "returnAll": false,
        "filters": {
          "tags": "Agente Reservas v1"
        },
        "requestOptions": {}
      },
      "id": "4a4a4e1a-1225-4eab-b88b-3b6d1380dcc4",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        656,
        160
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "W90YbFDYWkPtRUmY",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "271fd32d-5be2-480a-b270-553940c2f8e9",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        912,
        112
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{\nJSON.stringify({\n  name: $json.name + \"-Veremma-V1\",\n  nodes: $json.activeVersion?.nodes ?? $json.nodes,\n  connections: $json.activeVersion?.connections ?? $json.connections,\n  settings: {}\n})\n}}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        1120,
        160
      ],
      "id": "2fbf6839-588c-4cf4-bab1-230dd707b668",
      "name": "Create a workflow",
      "credentials": {
        "n8nApi": {
          "id": "W90YbFDYWkPtRUmY",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        496,
        160
      ],
      "id": "7f3d96be-c9f5-441c-b3ed-ff1855fad95e",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-15T15:31:25.926Z",
      "createdAt": "2026-03-15T15:31:25.926Z",
      "role": "workflow:owner",
      "workflowId": "73n7FPp3lDArHAV9wFDHw",
      "projectId": "f3W32VX4HOke6C3N"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-16T13:30:55.053Z",
  "versionId": "5ef04d7c-7868-4744-8b75-974e4d4a7fa9"
}