workflows/UVuz0ydHrf4PhepV.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Obtener servicios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener servicios": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-16T07:00:02.316Z",
  "id": "UVuz0ydHrf4PhepV",
  "isArchived": true,
  "meta": null,
  "name": "servicios_disponibles-Veremma-V1",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pvalhsum160gh07",
        "table": "m3m2qj8gmy4irp0",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        496,
        352
      ],
      "id": "66bb4a3e-6dfb-422a-804b-986bcbc64a47",
      "name": "Obtener servicios",
      "credentials": {
        "nocoDbApiToken": {
          "id": "NJEMSwQ8VfnQXOIP",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst servicios = items\n  .filter(i => i.json.Disponible !== 'No disponible') // 👈 nueva regla\n  .map(i => {\n    const json = i.json;\n\n    const base = {\n      Id: json.Id,\n      Nombre: json.Nombre,\n      Descripcion: json.Descripcion,\n      Precio: json.Precio,\n      Tiempo_estimado_min: json.Tiempo_estimado_min,\n      Disponible: json.Disponible,\n    };\n\n    if (typeof json.Disponible === 'string' && json.Disponible.includes('Día Seleccionado')) {\n      base['Días Disponibles'] = (json['_nc_m2m_Servicios_Días Especiales'] || [])\n        .map(e => e['Días Especiales']?.['Día'])\n        .filter(Boolean)\n        .join(',') || 'No hay dias seleccionados para este servicio';\n    }\n\n    return base;\n  });\n\nreturn [{ json: { servicios } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        352
      ],
      "id": "e70edd04-6c43-4141-9e57-af1c9ee90d24",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": null,
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-16T07:00:02.319Z",
      "createdAt": "2026-03-16T07:00:02.319Z",
      "role": "workflow:owner",
      "workflowId": "UVuz0ydHrf4PhepV",
      "projectId": "f3W32VX4HOke6C3N"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-16T13:32:09.000Z",
  "versionId": "0f032290-ff05-4b80-8485-d7349ff33a7e"
}